/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* ************************Google Fonts**************************** */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Preahvihear&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Preahvihear&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




/* ************************Custom Styles**************************** */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* :root{
  --color-primary: #1A74E2;
  --color-danger: #FF003D;

  --color-white: #FFFFFF;
  --color-light: #88949B;

  --color-black: #0C0C10;
  --color-dark: #0E1013;

  --transition: .4s ease;
} */

:root {
  --color-primary: #FF9900; /* Naranja Amz */
  --color-danger: #0073E6; /* Azul moderno */

  --color-white: #FFFFFF;
  --color-light: #88949B;

  --color-black: #0C0C10;
  --color-dark: #0E1013;

  --transition: .4s ease;
}


html{
  scroll-behavior: smooth;
  /* font-family: "Inter", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

body{
  background: var(--color-black);
  color: var(--color-white);
}

h1{
  font-size: 52px;
  font-weight: 500;
  line-height: 60px;
}

h2{
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

h3{
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}

h4{
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}

h5{
  font-size: 25px;
  font-weight: 300;
  line-height: 34px;
}

p{
  font-size: 16px;
  line-height: 26px;
}

small{
  color: var(--color-light);
  font-size: 14px;
}

span{
  color: var(--color-danger);
}

.btn{
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid var(--color-white);
  padding: 18px 40px;
  color: var(--color-white);
  border-radius: 5px;
  transition: var(--transition);
}
.btn:hover{
  background: var(--color-white);
  color: var(--color-black);
  border-color: var(--color-white);
}
.btn-primary{
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn-primary:hover{
  color: var(--color-primary);
}
.btn-danger{
  background: var(--color-danger);
  border-color: var(--color-danger);
  color: var(--color-white);
}

.hero-text{
  /* font-family: "Preahvihear", sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1480px;
}

section{
  padding: 8rem 0;
}

/* ************************Starting Navbar**************************** */
.menus{
  display: none;
}

nav{
  height: 6.5rem;
  display: grid;
  background: var(--color-black);
  place-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img{
  max-width: 80px;
}

.nav-links{
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-links li a{
  color: var(--color-white);
  transition: var(--transition);
}

.nav-links li .active{
  color: var(--color-danger);
}

.nav-links li a:hover{
  color: var(--color-primary);
}

.name{
  font-size: 32px;
  line-height: normal;

}
/* ************************Ending Navbar**************************** */


/* ************************starting Header**************************** */
header{
  padding-top: 10rem;
  padding-bottom: 6rem;
}

.hero{
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.hero img{
  max-width: 250px;
  margin: auto;
}

.hero-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.social{
  display: flex;
  align-items: center;
  gap: 20px;
}
.social a{
  font-size: 22px;
  color: var(--color-white);
  cursor: pointer;
  transition: var(--transition);
}
.social a:hover{
  color: var(--color-primary) !important;    /* Important! */
}
.social a:nth-child(2){
  color: var(--color-danger);
}
.social a:nth-child(4){
  color: var(--color-danger);
}

.typer-text h5{
  font-size: 20px;
}
/* ************************ending Header**************************** */


/* ************************Starting About**************************** */
#About{
  background: var(--color-dark);

}
.about-container{
  display: grid;
  grid-template-columns: 38% auto;
  gap: 120px;
  align-items: center;
}

.about-right{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-small-title{
  font-size: 17px;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 7px;
}

.aboutMe-contact-info a{
  margin-top: 7px;
  color: var(--color-primary);
  transition: var(--transition);
  display: inline-block;
  cursor: default;
}
.aboutMe-contact-info a:hover{
  color: var(--color-danger);
}

.about-action-aria{
  display: flex;
  align-items: center;
  gap: 30px;
}
/* ************************ending About**************************** */


/* ************************Starting Skills**************************** */
.skills-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 65%;
  gap: 120px;
}

.circulare-box{
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.circulare-box .skill-name{
  font-size: 18px;
}

/* ************************ending Skills**************************** */

/* ************************Starting Testimonial*************************** */
#Testimonials{
  padding-top: 0 !important; /* important */
}
.testimonials-container{
  width: 40%;
  position: relative;
}
/* .Testimonial-title{
  margin-bottom: -2rem;
} */

.testimonial-article{
  border-right: 3px solid var(--color-white);
  padding-right: 4px;
}
.testimonial-article h5{
  font-size: 18px;
  color: var(--color-primary);
}

.em-div{
  width: 4rem;
  height: 3px;
  background: var(--color-white);
  margin-top: 20px;
  margin-bottom: 16px;
}

.quote-png{
  position: absolute;
  bottom: 0;
  width: 80px;
  right: 40%;
}

.testimonial-wrapper{
  padding-top: 4rem;
}

.navigation-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
}

.navigation-buttons button{
  background: transparent;
  font-size: 22px;
  overflow: none;
  border: none;
  color: var(--color-danger);
}
.navigation-buttons button:last-child{
  color: var(--color-primary);
}

/* ************************ending Testimonial**************************** */

/* ************************Starting Services Testimonial**************************** */
#Services{
  background: var(--color-dark);
}

.services-container{
  position: relative;
}

.services-shape{
  position: absolute;
  top: 0;
  left: 0;
}

.services-title{
  text-align: center;
  margin-bottom: 4rem;
}

.services-articles{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 60px;
}

.service-article{
  padding: 40px 28px;
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 8px;
  transition: var(--transition);
  position: relative;
  z-index: 1 !important;
}

/* .service-article:nth-child(1){
  background: var(--color-danger);
} */

.service-article:hover{
  background: var(--color-danger);
}

.service-article:hover .service-icon {
  color: var(--color-black);
}

.service-icon{
  font-size: 60px;
  color: var(--color-danger);
}

/* .service-icon:hover{
  color: var(--color-black);
} */

.service-article p{
  margin-top: 12px;
}

/* ************************ending Services**************************** */


/* ************************Starting Projects**************************** */
.projects-wrapper{
  padding-top: 6rem !important;
}

.projects-title{
  margin-bottom: -2rem;
  position: relative;
  z-index: 1 !important;
}

.projects-navigation-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.projects-navigation-buttons button {
  background: transparent;
  font-size: 22px;
  overflow: none;
  border: none;
  color: var(--color-danger);
}

.projects-navigation-buttons button:last-child {
  color: var(--color-primary);
}

.projects-image{
  border: 1px solid var(--color-danger);
  height: 240px;
}
.projects-image img{
  height: 100%;
  object-fit: cover;
  transform: translateX(10px) translateY(-10px);
  transition: var(--transition);
}
.projects-image:hover img{
  transform: translate(0);
}
.projects-article .category{
  margin-top: 16px;
  font-weight: bold;
  color: var(--color-primary);
}
.projects-article h5{
  font-size: 20px;
  margin: 10px 0;
}
.projects-article small{
  display: inline-block;
  line-height: 24px;
}
.projects-article a{
  display: inline-block;
  color: var(--color-danger);
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 17px;
  transition: var(--transition);
}
.projects-article a:hover{
  transform: translateX(10px);
  color: var(--color-primary);
}
.projects-container .navigation-buttons button{
  border: 1px solid var(--color-danger);
  padding: 10px 14px;
  display: flex;
  transition: var(--transition);
}
.projects-container .navigation-buttons button:hover{
  background: var(--color-danger);
  color: var(--color-white);
}
.projects-container .navigation-buttons button:last-child{
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.projects-container .navigation-buttons button:last-child:hover{
  background: var(--color-primary);
}

.Explore-btn{
  margin: auto;
  margin-top: 5rem;
  display: block;
}

/* ************************ending Projects**************************** */


/* ************************Starting Contact Services**************************** */
#Contact{
  background: var(--color-dark);
}

.contact-container{
  display: grid;
  grid-template-columns: 74% auto;
  align-items: center;
  /* font-family: 'Preahvihear', sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
}

.contact-container h4{
  margin-bottom: 20px;
}

.contact-left{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contact-left h5{
  font-size: 22px;
}
.contact-left h5 a{
  color: var(--color-danger);
  transition: var(--transition);
}
.contact-left h5 a:hover{
  color: var(--color-primary)
}
.contact-left .social{
  margin-top: 30px;
}

/* ************************ending Contact**************************** */


/* ************************Starting Media Screen (1024px)**************************** */
@media (max-width:1024px) {
  h1{
    font-size: 46px;
  }
  h2{
    font-size: 38px !important;
  }
  h3{
    font-size: 34px !important;
  }
  h4{
    font-size: 24px !important;
  }
  h5{
    font-size: 22px;
  }

  .hero-text{
    font-size: 38px;
  }

  .btn{
    padding: 16px 36px;
  }

  /* Starting Nav */
  .nav-links{
    display: none;
  }

  .logo{
    max-width: 200px;
  }

  /* Starting Menus */
  .menus{
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem;
    width: max-content;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    display: flex;
    gap: .7rem;
    z-index: 11;
    padding: .7rem 1.7rem;
    border-radius: 2rem;
  }
  .menus a{
    padding: .8rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.3rem;
    color: var(--color-white);
  }
  .menus .active{
    background: var(--color-danger);
  }

  /* Starting Header */
  .hero img{
    max-width: 380px;
  }

  /* Starting About */
  .about-container{
    gap: 60px;
  }

  .about-right{
    gap: 16px;
  }

  .about-action-aria{
    gap: 10px;
  }

  /* Starting Skills */
  #Skills{
    padding-bottom: 4rem;
  }

  .skills-container{

    gap: 60px;
    grid-template-columns: repeat(3,1fr);
  }


  /* Starting Testimonials */
  .testimonials-container{
    width: 60%;
  }

  /* Starting Articles */
  .services-articles{
    grid-template-columns: repeat(2,1fr);
  }

  /* Starting Contact */
  .contact-container h4{
    margin-bottom: 20px;
  }
  .contact-left .social{
    margin-top: 20px;
  }

}

/* ************************ending Media Screen (1024px)**************************** */


/* ************************Strating Media Screen (666px)**************************** */
@media (max-width:666px) {
  h2{
    font-size: 34px !important;
  }
  h3{
    font-size: 30px !important;
  }
  h4{
    font-size: 20px !important;
  }
  h5{
    font-size: 17px !important;
  }

  .hero-text{
    font-size: 34px;
  }

  section{
    padding: 7rem 0;
  }

  .btn{
    padding: 16px 30px;
  }

  /* Starting Navbar */
  nav{
    height: 4rem;
  }
  .logo img{
    max-width: 100px; /* Logo tamano!!!!!!!!!!!!!!!!!!!!! */
  }


  /* Starting Header */
  .header{
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .hero img{
    width: 70%;
  }

  .hero-bottom{
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
  }

  /* Starting About */
  .about-container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .about-left{
    width: 90%;
    margin: auto;
  }

  .about-action-aria{
    justify-content: center;
  }

  /* Starting Skills */
  .skills-container{
    gap: 40px;
    width: 80%;
    grid-template-columns: 1fr 1fr;
  }

  /* Starting Testimonials */
  .testimonials-container{
    width: 90%;
  }

  /* Starting services */
  .services-articles{
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* Starting Projects */
  .projects-title{
    margin-bottom: -3rem;
  }

  /* Starting Contact */
  .contact-container{
    grid-template-columns: 1fr;
  }





}
/* ************************ending Media Screen (666px)**************************** */